@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-dark.css";

/* @import "tailwindcss" source("../"); */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--sand-3);
  --foreground: var(--sand-12);
  --card: var(--sand-3);
  --card-foreground: var(--sand-12);
  --primary: var(--sand-12);
  --primary-foreground: var(--sand-1);
  --muted: var(--sand-4);
  --muted-foreground: var(--sand-11);
  --border: var(--sand-6);
  --input: var(--sand-7);
  --ring: var(--sand-8);
  --radius: 0.625rem;
}

.dark {
  --background: var(--sand-1);
  --card: var(--sand-1);
  --popover: var(--sand-1);
  --muted: var(--sand-2);
}

@theme inline {
  --font-roboto: "Roboto", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
